.CheckoutSummary{
    text-align: center;
    margin: auto;
}
.checkoutControls{
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 2px 3px #000;
    margin: auto;
    padding: 2px 0;
}

@media(min-width: 600px){
    .checkoutControls{
        position: relative;
        left: 9%;
    }
    .checkoutControls h1{
        margin-bottom: 5%;
    }
}